/*
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Passion One', cursive;
    font-family: 'Poppins', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: white;
    display: grid;
    justify-items: center;
    row-gap: 1em;
}

/* Navigation */

header{
    display: grid;
    width: 100%;
    height: 70px;
    justify-items: center;
    align-items: center;
}

header nav{
    display: flex;
    width: 90%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

header nav .Nav_Items{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

header .Nav__Icons{
    display: flex;
    width: 5%;
    align-items: center;
    justify-content: space-around;
}

header nav img{
    width: 50px;
    height: 50px;
}

header nav ul{
    display: inline;
}

header nav ul li{
    display: inline;
    margin: 0 1em;
}

header nav ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color: black;

}

/* Main - Sections */

main{
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 2em;
}

/* Winner Product */

main .Winner__Product{
    width: 90%;
    height: 625px;
    border-radius: 2em;
    background: rgb(116,163,167);
    background: linear-gradient(90deg, rgba(116,163,167,1) 0%, rgba(214,228,229,1) 44%, rgba(239,245,245,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


main .Winner__Product .Winner__Product_Info{
    width: 45%;
    height: 90%;
}

main .Winner__Product .Winner__Product__Image{
    display: flex;
    width: 45%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.Winner__Product__Image img{
    width: 80%;
    height: 80%;
}

/* Best Seller Product */

main .Best__Seller_Products{
    display: flex;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px 4%;
    justify-content: center;
    align-items: stretch;
}

main .Best__Seller_Text{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

main .Best__Seller_Text h1{
    font-family: 'ABeeZee', sans-serif;
    color: black;
    font-size: 2.3em;
}

main .Best__Seller_Products .Item__Best_Seller_Producto{
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Image__Product{
    width: 90%;
    height: 75%;
}

.Name__Best__Seller__Product{
    width: 90%;
    height: 10%;
}

.Price__Best__Seller_Product{
    width: 90%;
    height: 10%;
}

/* Advertisement Page */

.Advertisment__Page{
    display: flex;
    width: 90%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.Item__Advertisment__Page{
    height: 90%;
    width: 20%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;

    border-radius: 1em;
    border: none;
    background: rgb(247, 247, 247);
}

.Item__Advertisment__Page i{
    color: red;
    font-size: xx-large;
}

.Item__Advertisment__Page span{
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}

/* Promotion */

.Promotion{
    display: flex;
    width: 90%;
    height: 300px;
    border-radius: 2em;
    background: rgb(235,100,64);
    background: linear-gradient(90deg, rgba(235,100,64,1) 0%, rgba(255,86,119,1) 62%, rgba(185,88,165,1) 100%);

    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Promotion h1{
    font-size: 6em;
    color: white;
    font-family: 'Passion One', cursive;
}

.Promotion img{
    width: 33.3%;
    height: 90%;
}

.Info__Promotion{
    display: flex;
    flex-direction: column;
    gap: 1em 0;
}

.Info__Promotion .Name__Product{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.Info__Promotion .Tittle__Sale{
    font-size: 2em;
    font-family: 'Merriweather Sans', sans-serif;
}

.Info__Promotion .Description__Sale{
    font-size: 1.3em;
    font-family: 'ABeeZee', sans-serif;
}

.Info__Promotion .Button__Promotion{
    width: 20%;
    height: 3em;
    color: rgb(235,100,64);
    border-radius: 1em;
    border: none;
}

/* Footer */

footer{
    display: flex;
    width: 100%;
    height: 300px;
    gap: 0 3em;

    flex-direction: row;
    align-items: center;
    justify-content: center;   
}

footer .Item__Footer{
    display: flex;
    width: 20%;
    height: 250px;
    gap: 0.8em 0;

    flex-direction: column;
    align-items: baseline;

}

footer ul{
    list-style: none;
}

footer ul li{
    margin: 5px;
}

footer a, span, label{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    color: black;
}

.Item__Footer h2, .Suscribete{
    font-size: 1.2em;
    font-family: 'ABeeZee', sans-serif;
}

.Item__Footer .Novedades{
    font-family: 'Passion One', cursive;
    font-size: 1.4em;
}

.Item__Footer img{
    width: 30%;
    height: 30%;
}

.Item__Footer div{
    display: flex;
    flex-direction: row;
    width: 30%;

    justify-content: flex-start;
}

.Item__Footer div i {
    margin: 0 1em 0 0;
}

.InText{
    width: 100%;
    height: 2em;

    border: solid black 1px;
    border-radius: 0.5em;
    background: white;
}

.InBtn{
    width: 30%;
    height: 2em;
    border-radius: 0.8em;
    border: none;
    background: rgb(251, 55, 2);
}